{% extends "base.html" %} {% block content %}
<div>尊敬的 {{email}}，您好：</div>
<div style="padding: 8px 0">
  欢迎来到<span style="font-weight: bold; padding: 0 8px">小镇做题家</span
  >，请在页面上输入以下验证码完成注册。
</div>
<div style="font-weight: bold; font-size: 24px; margin: 8px 0">{{code}}</div>
<div style="color: #d3d3d3; font-size: 12px; padding: 8px 0">
  注意：验证码有效期24小时。如非本人操作请忽略。（工作人员不会向你索取此验证码，请勿泄漏！)
</div>
<div style="color: #d3d3d3; font-size: 12px; padding: 8px 0">
  此为系统邮件，请勿回复
</div>
<div style="color: #d3d3d3; font-size: 12px">
  请保管好您的邮箱，避免账号被他人盗用
</div>
{% endblock content %} {% block footer %}{{ year }}{% endblock footer %}
